body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f3ef;
  color: #1a1a1a;
}

a {
  text-decoration: none;
  color: #f7f3ef;
  margin: 0 10px;
}

a:hover {
  text-decoration: underline;
  color: #e1dbd5;
}

main {
  padding: 2rem;
  min-height: 80vh;
}