.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 0.8rem;
}

.paid-btn {
  background-color: #2e7d32;
  color: white;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #c62828;
  color: white;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.paid-btn:hover {
  background-color: #388e3c;
}

.cancel-btn:hover {
  background-color: #d32f2f;
}